*.class
.classpath
target
.settings
.project
.idea
eclipse-classes
dependency-reduced-pom.xml
.DS_Store
*.iml

#Python
*.pyc
*.egg-info
dist

# Package Files #
*.jar
*.war
*.ear
*.swo
.vagrant
*~
*.ipr
*.iws

